<div class="course-card">
  <div class="course-title">
    <h2>{{ course.name }}</h2>
    <img [src]="course.imageUrl" alt="course.imageUrl" style="width: 40px" />
  </div>
  <div class="course-card-content">
    <p>{{ course.description }}</p>
    <p>{{ course.price }} €</p>
  </div>
  <div class="course-card-actions">
    <button class="course-details" [routerLink]="['/courses', course.id]">Voir les détails</button>
    <button *ngIf="isUserLoggedIn" class="course-add" (click)="addToCart()">Ajouter au panier</button>
  </div>
</div>
