:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* La page occupe au moins toute la hauteur de la fenêtre */
  }
  
  router-outlet {
    flex: 1; /* Permet au contenu principal d'occuper tout l'espace disponible */
  }
  
  footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  