<div class="home-container">
    <header class="home-header">
      <h1>Bienvenue sur Notre Site</h1>
      <p>Découvrez des cours enrichissants pour booster vos compétences.</p>
      <a routerLink="/courses" class="cta-button">Explorer les Cours</a>
    </header>
    <section class="features">
      <div class="feature">
        <h2>Des Contenus de Qualité</h2>
        <p>Nos cours sont conçus par des experts pour répondre à vos besoins professionnels.</p>
      </div>
      <div class="feature">
        <h2>Accessibilité</h2>
        <p>Apprenez à votre rythme, où que vous soyez, avec notre plateforme en ligne.</p>
      </div>
      <div class="feature">
        <h2>Support Communautaire</h2>
        <p>Rejoignez une communauté active et partagez vos connaissances.</p>
      </div>
    </section>
  </div>
  