<div class="courses-container">
    <div *ngFor="let course of courses" class="course-card">
        <div class="course-title">
            <h2>{{ course.name }}</h2>
            <img [src]="course.imageUrl" alt="course.imageUrl" style = "width: 40px;"/>
        </div>
        <div class = "course-card-content">
            <p>{{ course.description }}</p>

        </div>
        <div class="course-card-actions">
            <button [routerLink]="['/courses', course.id]">View Details</button>
        </div>
    </div>
</div>